hr {
	width: 99%;
	border: 1px solid black;
}
p, ul, li{
	font-family: "Times New Roman", serif;
	margin: auto 5px;
	text-align: center;
	font-size: 120%;
}
table {
	margin-top: 20px;
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}
th, td {
	padding: 8px;
	border: 1px solid #000;
	text-align: center;
}
th {
	font-size: 120%;
	background-color: #ddd;
}
input, button {
	font-size: 110%;
	text-align: center;
}

